module(load="imtcp")
module(load="imudp")
module(load="omkafka")

global(workDirectory="/var/spool/rsyslog")

template(name="TmcJsonLine" type="string" string="%msg%\n")

input(type="imtcp" port="5514")
input(type="imudp" port="5514")

action(
  type="omkafka"
  broker=["<kafka-host>:9092"]
  topic="tmc-access-events"
  template="TmcJsonLine"
)
